# RStudio junk
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# Ignore all RStudio project files
*.Rproj

# OS junk
.DS_Store
Thumbs.db

# Shiny / R build artifacts
.Rapp.history

# Ignore temporary data files (optional)
data/*.tmp
